html{

    background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    margin: 0%;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

}


#background{
    position: absolute;
    
    
   
    width: 100%;
    height: 100vh;
    margin: 0px;
  

}



#left{
    float: left;
    height: 100%;
    width: 3%;
    background-color: #000000;
    text-align: center;
    
    font-size: 2.5vh;
    
    
    
    
}

.menu{
    width: 100%;
    color: gainsboro;
    font-size: 3vh;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 8%;
    
    
    
}
#logout{
    
    font-size: 3vh; 
    padding-top: 25%;
    
    width: 100%;
    
    
}
#logout i:hover{
    color: #d10966;
    
}

i{
    color: gainsboro;
    text-decoration: none;
}

i:hover{
    color: aqua;
    }

#mid{
    color: white;
    height: 100vh;
    width: 97%;
    background: rgba(6, 3, 3, 0.384);  
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7.6px);
    overflow-y: scroll;
    text-align: center;
        }

#form-contener {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: 500;
    font-size: 180%;
    height: 100%;
    width: 100%;
    background-color: #01020ed7;

}

#form-contener form {
    text-align: center;
    width: 35%;
    height: auto;
    
    border: 1px solid aqua;
    min-height: 800px;
    
    width: 50%;
    border-radius: 10%;
}
input::placeholder {
    color: white;

}

#form-contener input[type=text] {
    background:transparent;
   color: white;
    height: 25px;
    
    margin: 2% 0;
    font-size: 20px;
    width: 20%;
    outline: none;
    border: none;
    border-bottom: 1px solid aqua;
    
}

#form-contener input[type=number] {
    background:transparent;
    background:transparent;
    height: 25px;
    color: white;
    margin: 2% 0;
    text-align: center;
    width: 20%;
    outline: none;
    border: none;
    border-bottom: 1px solid aqua;
    font-size: 15px;
}

#form-contener input[type=submit] {
    height: 40px;
    width: 120px;
    font-weight: 700;
    margin: 10px 0 5px 0;
    background-color:#d10966;
    width: 20%;
    color: white;
    cursor: pointer;
 
    
    
    
    
}

#form-contener input[type=file] {
   
    height: 40px;
    width: 120px;
    font-size: 67%;
    

}
