html{

    background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    margin: 0%;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

}


#background{
    position: absolute;
    
    
   
    width: 100%;
    height: 100vh;
    margin: 0px;
  

}



#left{
    float: left;
    height: 100%;
    width: 3%;
    background-color: #000000;
    text-align: center;
    
    font-size: 2.5vh;
    
    
    
    
}
table,td{
    width: 100%;
    color: gainsboro;
    font-size: 110%;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 25%;
    color: white;
    
}

td:hover{

color: aqua;
}

i{
    color: gainsboro;
    text-decoration: none;
}

i:hover{
    color: aqua;
    }

#mid{
    color: white;
    height: 100vh;
    width: 97%;
    background: rgba(6, 3, 3, 0.384);  
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7.6px);
    overflow-y: scroll;
    text-align: center;
        }

#form-contener {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: 500;
    font-size: 180%;
}

#form-contener form {
    text-align: center;
    width: 35%;
    height: auto;
    background-color: #000435b7;
    border-radius: 20px;
}

#form-contener input[type=text] {
    background-color: white;
    background-image: linear-gradient(95deg, #14035e9c 0%, rgba(145, 160, 58, 0.699) 100%);
    height: 25px;
    color: white;
    margin: 2% 0;
    text-align: center;
}

#form-contener input[type=submit] {
    height: 40px;
    width: 120px;
    font-weight: 700;
    margin: 10px 0 5px 0;
    background-color: white;
    background-image: linear-gradient(95deg, #6716d198 0%, rgba(67, 155, 214, 0.521) 100%);
    color: rgba(63, 7, 168, 0.63);
    
}

#form-contener input[type=file] {
    color: transparent;
    height: 40px;
    width: 120px;
    font-size: 67%;
}
