
html{

    background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    margin: 0%;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

}


#background{
    position: absolute;
    
    
   
    width: 100%;
    height: 100vh;
    margin: 0px;
  

}



#left{
    float: left;
    height: 100%;
    width: 3%;
    background-color: #000000;
    text-align: center;
    
    font-size: 150%;
    
    
    
    
}

    






#mid{
color: white;
height: 100vh;
width: 97%;
background: rgba(6, 3, 3, 0.384);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7.6px);
overflow-y: scroll;


float: left;

}

table,td{
    width: 100%;
    color: gainsboro;
    font-size: 110%;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 25%;
    color: white;
    
}

td:hover{

color: aqua;
}

i{
    color: gainsboro;
    text-decoration: none;
}

i:hover{

    color: aqua;
    }
h1{
    padding:20px;
    clear: left;
}

.list{
    width: 100vw;
    height: 300px;
    
}

.list-element{
    float: left;

    height: 300px;
    width: 300px;
    background-color: rgba(31, 32, 32, 0.733);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.651);
    

    margin-left: 1%;
    text-align: center;
    
    
    
}

.list-element img{
    width: 60%;
    height: 60%;
    margin-top: 10%;
    
    
}

.description{
    width: 100%;
    height: 22%;
    background-color: rgba(4, 8, 4, 0.644);
    text-rendering: geometricPrecision;
    
    
}

h4{
color: wheat;
}
h5{
    color: cyan;

}

.list-element:hover{
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.678);
}







